<h2>Lista de produtos disponíveis</h2>
<ul>
  <!-- 
      How to iterate over an arry in ember
  {{#each model as |products|}}
    <li>{{products}}</li>
  {{/each}} 
  --> 

  {{product-list title="List of Products Available" item=model}}
</ul>